<div class="main">
  <div class="header">
    <div class="left">
      <strong>Tong Quan</strong>De tai thuc tap | Quan ly CNTT
    </div>
    <div class="right">
      <div class="overview"><i class="fa-solid fa-house"></i>Tong Quan</div>
      <div class="statistical">> Thong Ke</div>
    </div>
  </div>

  <div class="body" (click)="excel()">
    <div class="ov ov1">
      <div class="head">
        <div class="left">
          <strong>9</strong>
          <p>Nhan vien</p>
        </div>
        <div class="right"><i class="fa-solid fa-user"></i></div>
      </div>
      <div class="foter">
        <div class="content-foter">Danh sach nhan vien</div>
      </div>
    </div>
    <div class="ov ov2">
      <div class="head">
        <div class="left">
          <strong>4</strong>
          <p>Phong ban</p>
        </div>
        <div class="right"><i class="fa-solid fa-building-columns"></i></div>
      </div>
      <div class="foter">
        <div class="content-foter">Danh sach nhan vien</div>
      </div>
    </div>
    <div class="ov ov3">
      <div class="head">
        <div class="left">
          <strong>8</strong>
          <p>Tai khoan nguoi dung</p>
        </div>
        <div class="right"><i class="fa-solid fa-user-plus"></i></div>
      </div>
      <div class="foter">
        <div class="content-foter">Danh sach nhan vien</div>
      </div>
    </div>
    <div class="ov ov4">
      <div class="head">
        <div class="left">
          <strong>1</strong>
          <p>Nhan vien nghi viec</p>
        </div>
        <div class="right"><i class="fa-solid fa-users"></i></div>
      </div>
      <div class="foter">
        <div class="content-foter">Danh sach nhan vien</div>
      </div>
    </div>
    <div class="ov ov5">
      <div class="head">
        <div class="left">
          <strong>4</strong>
          <p>Nhom nhan vien</p>
        </div>
        <div class="right"><i class="fa-solid fa-file"></i></div>
      </div>
      <div class="foter">
        <div class="content-foter">Danh sach nhan vien</div>
      </div>
    </div>
    <div class="ov ov6">
      <div class="head">
        <div class="left">
          <strong>EXCEL</strong>
          <p>Xuat bao cao</p>
        </div>
        <div class="right"><i class="fa-solid fa-file"></i></div>
      </div>
      <div class="foter">
        <div class="content-foter">Danh sach nhan vien</div>
      </div>
    </div>
    <div class="ov ov7">
      <div class="head">
        <div class="left">
          <strong>EXCEL</strong>
          <p>In bao cao</p>
        </div>
        <div class="right"><i class="fa-solid fa-file"></i></div>
      </div>
      <div class="foter">
        <div class="content-foter">Danh sach nhan vien</div>
      </div>
    </div>
    <div class="ov ov8">
      <div class="head">
        <div class="left">
          <strong>EXCEL</strong>
          <p>Xem bao cao</p>
        </div>
        <div class="right"><i class="fa-solid fa-file"></i></div>
      </div>
      <div class="foter">
        <div class="content-foter">Danh sach nhan vien</div>
      </div>
    </div>
  </div>
</div>
