.mt-4 {
  height: 85vh;
  .table {
    tr {
      th {
        background-color: rgb(161, 203, 250);
      }
    }
    .tb {
      td {
        background-color: rgb(253, 254, 255);
      }
    }
  }
}
