.main {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: rgb(42, 168, 231);
    align-items: baseline;
    .left {
      font-weight: bold;
      font-size: 25px;
      color: rgb(255, 255, 255);
    }
  }

  .body {
    .code-staff {
      font-weight: bold;
      padding: 10px 15px;
      background-color: #cec0c0;
    }
    .info {
      padding: 20px 10px;
      color: rgb(0, 0, 0);
      // background-image: url(/assets/pass/background-pass.jpg);
      // background-size: cover;
      // background-position: center;
      display: flex;
      justify-content: space-around;

      .left {
        img {
          width: 170px;
          height: 250px;
        }
      }

      .center,
      .right {
        font-size: 20px;
        line-height: 2;
      }

      .right {
        span {
          background: green;
          color: white;
          font-weight: bold;
          border-radius: 10px;
          padding: 2px 10px;
        }
      }
    }
  }
}
