<div class="main">
  <div class="header">
    <div class="left">Thong tin nhan vien</div>
    <div class="right">
      <i class="fa-solid fa-house-chimney"> </i
      ><strong> Tong quan > Danh sach nhan vien</strong>
      > Thong tin
    </div>
  </div>

  <div class="body">
    <div class="code-staff">Ma nhan vien: CD999999</div>
    <div class="info">
      <div class="left">
        <img src="/assets/home/avt-girl.jpg" alt="" />
      </div>
      <div class="center">
        <div class="item">Ten nhan vat: <strong>Phan Ngoc Truc</strong></div>
        <div class="item">Biet dnah: Khong</div>
        <div class="item">Gioi tinh: Nu</div>
        <div class="item">Ngay sinh: <strong>01/01/2001</strong></div>
        <div class="item">Noi sinh: Ha noi</div>
        <div class="item">Hon nhan: Doc than</div>
        <div class="item">So CCCD: <strong>0123456789</strong></div>
        <div class="item">Ngay cap: 10/10/2010</div>
        <div class="item">Noi cap: Ha noi</div>
        <div class="item">Quoc tich: Viet nam</div>
        <div class="item">Dan toc: Kinh</div>
        <div class="item">Tong giao: Khong</div>
      </div>
      <div class="right">
        <div class="item">Ho khau: <strong>Ha noi</strong></div>
        <div class="item">Tam tru: Ha noi</div>
        <div class="item">Nhan vien: <strong>Chinh thuc</strong></div>
        <div class="item">Trinh do: <strong>Dai hoc</strong></div>
        <div class="item">Chuyen mon: <strong>Quan ly`</strong></div>
        <div class="item">Bang cap: <strong>Cu nhan</strong></div>
        <div class="item">Phong ban: <strong>Phong dao tao</strong></div>
        <div class="item">Chuc vu: <strong>Nhan vien</strong></div>
        <div class="item">Trang thai: <span>Dang lam viec</span></div>
      </div>
    </div>
  </div>
</div>
